/* src/components/About.css */
.about {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: auto; 
}

.about-text {
    flex: 1.5;
    color: black;
    padding: 2rem;
    margin: 1rem;
    font-size: 17px;
    height: fit-content;
    line-height: 30px;
}

.about-text h2 {
    text-decoration-line: underline;
}


.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    height: 400px;
    box-shadow: 0 0 360px rgb(255, 255, 255);
}

@media (max-width: 400px) {
    .about-text {
        padding: 1rem; 
    }
    .about-image {
        margin-top: 1rem;
    }
}
