/* src/components/About.css */
.about {
    padding: 2rem;
    background-color: #d5c1ac; /* Light beige for about section */
    display: flex;
    align-items: center; /* Center content vertically */
  }
  
  .about-text,
  .about-image {
    flex: 1; /* Grow to fill available space equally */
  }
  
  .about-text {
    padding-right: 2rem; /* Add spacing between text and image */
  }
  
  .about-image {
    display: flex;
    justify-content: center; /* Center content horizontally */
  }
  
  .about-image img {
    max-width: 80%; /* Ensure image does not exceed container width */
    max-height: 80%; /* Ensure image does not exceed container height */
    border-radius: 200px; /* Add border radius for rounded corners */
  }
  