body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(#355C7D, #6C5B7B, #C06C84);
    letter-spacing: 2px;
    min-width: 1000px;
    max-height: fit-content;

}

.navbar {
    position: fixed;
    top: 0;
    width: calc(100% - 65px);
    padding-left: 50px;
    padding-right: 50px;
    z-index: 1000;
}


.navbar-right a {
    color: #eee;
}

.about {
    padding-top: 100px;
}

.projects {
    padding-top: 100px;
}

.skills {
    padding-top: 100px;
}

.contact {
    margin-top: 80px;
}

.footer {
    bottom: 0;
    margin-top: 80px;
}