.App {
    margin: 0;
    padding: 0;
    background: white;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    max-width: 100%;
    scroll-behavior: smooth;
    
}

.navbar {
    top: 0;
    z-index: 1000;
    width: calc(100% - 64px);
    position: absolute;
}

.navbar-right a {
    color: #eee;
    
}

.about {
    padding-top: 150px;
}

.projects {
    padding-top: 100px;
}

.skills {
    padding-top: 100px;
}

.footer {
    margin-top: 50px;
    bottom: 0;
    position: relative;
    width: calc(100% - 64px);
}