/* src/style/Contact.css */
.contact {
    padding: 2rem;
    margin: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);    
    min-width: 400px;
}

.contact h2 {
    margin-bottom: 1rem;
    color: #fff; /* White text color */
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.contact-form label {
    margin-bottom: 0.5rem;
    color: #fff; /* White text color */
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px;
}

.contact-form button {
    padding: 0.5rem 1rem;
    background-color: #4e54c8; /* Blue button color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #8f94fb; /* Lighter blue on hover */
}
