/* src/components/Navbar.css */
.navbar {    
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1); /* Transparent white background */
    backdrop-filter: blur(10px); /* Apply a blur effect to elements behind the navbar */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  
  }
  
  .navbar-left .logo {
    height: 40px;
    width: auto;
    border-radius: 50%; 
  }
  
  .navbar-right {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-right a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
  }
  
  .navbar-right a:hover {
    background-color: #836c6c5a;
    border-radius: 5px;
  }
  