/* src/components/Navbar.css */
.navbar {    
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1.15rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: royalblue; 
    font-size: 15px;
    font-weight: 700;

  }
  
  .navbar-left {
    color: white;

  }
  
  .navbar-right {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-right a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
  }
  
  .navbar-right a:hover {
    background-color: #836c6c5a;
    border-radius: 5px;
  }
  