/* src/components/Projects.css */
.projects {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project-card {
    width: calc(33.33% - 2rem);
    margin-bottom: 2rem;
    text-align: center;
    position: relative; 
  }
  
  .project-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    transition: filter 0.5s;
  }
  
  .project-card:hover .project-image {
    filter: blur(2px);
  }
  
  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .project-card:hover .project-overlay {
    opacity: 1;
  }
  
  .project-info {
    text-align: center;
    color: white;
  }
  
  .project-title {
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .project-description {
    margin-top: 0.5rem;
    color: #ddd;
  }
  