/* src/style/Skills.css */
.skills {
    padding: 2rem;
    text-align: center;
}

.skills-header {
    display: flex;
}

.skills-header h2 {
    flex: 1;
    margin: 1rem;
    color: #fff; /* White text color */
}

.skills-header a {
    flex: 1;
    margin: 1rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    list-style: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
}

.skills-list li {
    color: #fff; 
    margin: 1rem; 
    flex: 0 0 calc(25% - 1rem); 
    box-sizing: border-box; 
    text-align: center;
}

.resume-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.resume-link i {
    margin-right: 0.5em;
    align-items: center;
}

