/* src/style/Skills.css */
.skills {
    padding: 2rem;
    text-align: center;
}

.skills h2 {
    margin-bottom: 1rem;
    color: #fff; /* White text color */
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    list-style: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
}

.skills-list li {
    color: #fff; /* White text color */
    margin: 1rem; /* Add spacing around list items */
    flex: 0 0 calc(25% - 1rem); /* Set the width of each item to 25% minus margin */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: center;
}
